.navbar {
  background-color: #333;
  padding: 10px 30px;
}

.nav-links {
  display: flex;
  gap: 20px;
}
.nav-text {
  text-decoration: none;
  color: white;
  padding: 10px;
}
.nav-text:hover {
  border-radius: 4px;
  background-color: #6f6fed;
}
/* ......products..... */
.product-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f9f9f9;
}

.product-heading {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #333;
}
.product-item {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}
.product-info {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 1.2rem;
  border-radius: 10px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.product-price {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1rem;
}

.add-button {
  background-color: #007bff;
  color: white;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
}

.add-button:hover {
  background-color: #0056b3;
}

/* ..cart... */
.cart-item {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 1.2rem;
  border-radius: 10px;
  margin-bottom: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item button {
  background-color: #007bff;
  color: white;
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  margin: 0 0.25rem;
}

.cart-item button:hover {
  background-color: #0056b3;
}

.cart-item div {
  display: flex;
  align-items: center;
}

.cart-title {
  text-align: center;
  font-size: 2rem;
}
