body{
  margin: 0;
  padding: 0;
}
.navbar {
  background-color: #333;
  padding: 10px 30px;
}

.nav-links {
  display: flex;
  gap: 20px;
}
.nav-text {
  text-decoration: none;
  color: white;
  padding: 10px;
}
.nav-text:hover {
  border-radius: 4px;
  background-color: #6f6fed;
}
/* ......products..... */
.product-container {
  min-height: 100vh;
  padding: 2rem;
  background-color: #f9f9f9;
}

.product-heading {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #333;
}
.product-item {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}
/* .product-info {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  text-align: center;
  width: 230px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
   height: 100%;
}

.product-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
}

.product-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.product-price {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1rem;
} */
 .product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 100%;
  min-height: 300px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px;
}

.product-image {
  width: 120px;
  height: 150px;
  object-fit: contain;
  margin: 0 auto 10px;
}

.product-title {
  font-size: 13px;
  font-weight: bold;
  margin: 8px 0;
  text-align: center;
  line-height: 1.3;
}

.product-price {
  text-align: center;
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

/* .add-button {
  background-color: #007bff;
  color: white;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
} */
 .add-button{

  padding: 6px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #0056b3;
}

/* ..cart... */
.cart-item {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 1.2rem;
  border-radius: 10px;
  margin-bottom: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item button {
  background-color: #007bff;
  color: white;
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  margin: 0 0.25rem;
}

.cart-item button:hover {
  background-color: #0056b3;
}

.cart-item div {
  display: flex;
  align-items: center;
}

.cart-title {
  text-align: center;
  font-size: 2rem;
}
